body {
    background: rgba(75, 95, 43, 0.952);
    text-align: center;
}

.emoji{
background-color:rgba(75, 95, 43, 0.952);
width: auto;
height: auto;
}

button{
    margin-bottom: 10px;
    background-color: rgb(255, 183, 50) ;
    border-radius: 10%;
    height: 30px;
    width: 80px;
}

h1 {
    color:rgb(249, 179, 27) 
}


td {
   background-color: rgba(255, 255, 255, 0.571);
    width: 30px;
    height: 30px;
   
}

table {
    margin: auto;
  
}

