body {
    background: rgba(75, 95, 43, 0.952);
    text-align: center;
}

.emoji{
background-color:rgba(75, 95, 43, 0.952);
}

button{
    margin-bottom: 10px;
    background-color: rgb(255, 183, 50) ;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

h1 {
    color:rgb(249, 179, 27) 
}


td {
   background-color: rgba(255, 255, 255, 0.571);
    width: 30px;
    height: 30px;
   
}

table {
    margin: auto;
  
}

