body {
    background: rgba(46, 46, 46, 0.952);
    color: white;
    text-align: center;
}
button{
    width: 60px;
    height: 60px;
    margin-bottom: 50px;
    border-radius: 50%;
}

button:hover{
    cursor: pointer;
}

.cell{
color: blue;
font-size:30px;
}

td {
   background-color: aqua;
    width:50px;
    height:50px;
}

table {
    margin: auto;
}

